In [ ]:
#Declare an int value and store it in a variable. 

#every positive value without decimal point is integer.
a=25
print(type(a), a)

<class 'int'> 25

In [ ]:
#Check the type and print the id of the same.
var1= 20
print(id(var1),type(var1))

10915104 <class 'int'>

In [ ]:
#Take one int value between 0 - 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come same. Check why?
s1= 45
s2= 45
print(id(s1),type(s1))
print(id(s2),type(s2))


#both the id are same because of object reusability.
#45<256

10915904 <class 'int'>
10915904 <class 'int'>

In [ ]:

#Take one int value either less than -5 or greater than 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come different.Check why?

a= 567
b= 567
print(id(a),type(a))
print(id(b),type(b))

#both id are different because of object reusability concept.

140584358187280 <class 'int'>
140584358188624 <class 'int'>

In [ ]:
#Arithmatic Operations on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Find sum of both numbers
    #Find differce between them
    #Find the product of both numbers.
    #Find value after dividing first num with second number
    #Find the remainder after dividing first number with second number
    #Find the quotient after dividing first number with second number
    #Find the result of first num to the power of second number.

a=100
b=10
sum= a+b
dif= a-b
product= a*b
division= a/b
quotient= a//b
remainder = a%b
pow= a**b
print("sum=", sum)
print("difference=",dif)
print("prouct=",product)
print("division",division)
print("remainder=",remainder)
print("quotient=", quotient)
print("power=", pow)

sum= 110
difference= 90
prouct= 1000
division 10.0
remainder= 0
quotient= 10
power= 100000000000000000000

In [ ]:
#Comparison Operators on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Compare se two numbers with below operator:-
        #Greater than, '>'
        #Smaller than, '<'
        #Greater than or equal to, '>='
        #Less than or equal to, '<='
#Observe their output(return type should be boolean)

a=25
b=45
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [ ]:
#Equality Operator
#Take two different intger values.
#Store them in two different variables.
#Equuate them using equality operator (==, !=)
#Observe the output(return type should be boolean)

a= 50
b=100
print(a==b)
print(a!=b)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manuallay

print(10 and 20)       #----------------------------------------->Output is 20
print(0 and 20)        #----------------------------------------->Output is 0
print(20 and 0)        #----------------------------------------->Output is 0
print(0 and 0)         #----------------------------------------->Output is 0

print(10 or 20)        #----------------------------------------->Output is 10
print(0 or 20)         #----------------------------------------->Output is 20
print(20 or 0)         #----------------------------------------->Output is 20
print(0 or 0)          #----------------------------------------->Output is 0

print(not 10)          #----------------------------------------->Output is False
print(not 0)           #----------------------------------------->Output is True

20
0
0
0
10
20
20
0
False
True

In [ ]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> 10, 20   -------> Output is 0
    #Bitwise or(|)  -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise(^)     -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise negation(~) ------------------------------------> 10       -------> Output is -11
    #Bitwise left shift  ------------------------------------> 10,2     -------> Output is 40
    #Bitwise right shift ------------------------------------> 10,2     -------> Output is 2
#Cross check the output manually

print(10 & 20)
print(10 | 20)
print(10 ^ 20)
# ~num= -(num+1)
# num=10
# print(~10)
10<<2          # 000000000000000000000000000000101000
10>>2          # 000000000000000000000000000010
print(0b101000)
print(0b10)


# 10= 0b01010
# 20= 0b10100

0
30
30
40
2

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10
b = 10
print(a is b)          #True or False?   #true
print(a is not b)      #True or False?   #false


a = 1000
b = 1000
print(a is b)          #True or False?    #false
print(a is not b)      #True or False?    #true

True
False
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2' in 'Python2.7.8')                    #true
print(10 in [10,10.20,10+20j,'Python'])        # true
print(10 in (10,10.20,10+20j,'Python'))        #true
print(2 in {1,2,3})                           #true
print(3 in {1:100, 2:200, 3:300})            #true
print(10 in range(20))                #true

True
True
True
True
True
True

In [ ]:
#An integer can be represented in binary, octal or hexadecimal form.
#Declare one binary, one octal and one hexadecimal value and store them in three different variables.
#Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.

binary_num=0b01011
octal_num=0o43217
hexadcml_num=0xfa546
d=9876
bin_num=bin(d)
oct_num=oct(d)
hex_num=hex(d)
print(bin_num)
print(oct_num)
print(hex_num)
# print(int(binary_num))
# print(int(octal_num))
# print(int(hexadcml_num))

0b10011010010100
0o23224
0x2694
11
18063
1025350

In [ ]:
#What will be the outut of following:-
a = 0b1010000
print(a)


b = 0o7436
print(b)

c = 0xfade
print(c)

print(bin(80))

print(oct(3870))

print(hex(64222))

print(bin(0b1010000))

print(bin(0xfade))

print(oct(0xfade))

print(oct(0o7436))

print(hex(0b1010000))

print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade