In [ ]:
#Declare a float value and store it in a variable. 
x = 10.2




#Check the type and print the id of the same.
print(type(x))
print(id(x))

<class 'float'>
139935140997952

In [ ]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a = 60.5
b = 30.5

#Do below operations on them:-

#Find sum of both numbers
print(a+b)

#Find differce between them
print(a-b)

#Find the product of both numbers.
print(a*b)

#Find value after dividing first num with second number
print(a/b)

#Find the remainder after dividing first number with second number
print(a//b)

#Find the quotient after dividing first number with second number
print(a%b)

#Find the result of first num to the power of second number.
print(a**b)

91.0
30.0
1845.25
1.9836065573770492
1.0
30.0
2.2056618265173234e+54

In [ ]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.
u = 20.35
i = 12.89

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print(u > i)
        #Smaller than, '<'
print(u < i)
        #Greater than or equal to, '>='
print(u >= i)
        #Less than or equal to, '<='
print(u <= i)
#Observe their output(return type should be boolean)

True
False
True
False

In [ ]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

m = 50.0003
n = 18.8889

#Equuate them using equality operator (==, !=)

print(m == n)
print(m != n)

#Observe the output(return type should be boolean)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
#True and True = True (Since first value is not false it looks for second value and prints it)

print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
#False and True = False (Since first value is false it prints the first value)

print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
#True and False = False (Since first value is not false it looks for second value and prints it)

print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0
#False and False = False (Since first value is false it prints the first value)

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
#True or True = True (Since first value is true it prints the first value)

print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
#False or True = True (Since first value is not true it looks for the second value and prints it)

print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
#True or False = True (Since first value is true it prints the first value)

print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0
#False or False = False (Since first value is not true it looks for the second value and prints it)

print(not 10.20)             #-Not of true is false->Output is False
#since the operand value is True it prints False

print(not 0.0)               #Not of false is True>Output is True
#since the operand value is False it prints True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why is the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

False
True

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              
#True
print(10.20 in [10,10.20,10+20j,'Python']) 
#True
print(10.20 in (10,10.20,10+20j,'Python')) 
# True
print(20.30 in {1,20.30,30+40j})           
# True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) 
# True
print(10 in range(20))                     
# True

True
True
True
True
True
True